/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
main{
    position: relative;
    height: 100vh;
    background: rgb(255,255,255);
    background-image: linear-gradient(0deg, rgba(255,255,255,1) 80%, rgba(0,150,136,1) 80%);
}

.my-container{
    width: 1000px;
    height: 90vh;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    border: 1px solid black;
}

.my-container .my-row{
    display: flex;
    height: 100%;
    position: relative;
}

.my-container .my-row .col-sx{
    width: calc(100% / 3 * 1);
    overflow-y: auto;

}

.my-container .my-row .col-dx{
    width: calc(100% / 3 * 2);
    height: 100%;
}

.my-container .my-row .col-sx .top{
    width: calc(100% / 3 * 1);
    padding: 0;
    margin: 0;
    position: fixed;
    background-color: white;
}

.my-container .top .user{
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user-img{
    display: inline-block;
    width: 40px;
    height: 40px;
}

.user-img img{
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.user .user-sx .name-user{
    font-size: 20px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 10px;
}

.user .user-dx a i{
    margin: 0 10px;
    color: gray;
}

.my-container .top .notifica{
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    padding: 10px;
}

.my-container .top .notifica .bell-icon{
    display: flex;
    color: #8EDAFC;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.my-container .top .notifica .notifica-text{
    display: inline-block;
    margin-left: 5px;
}

.my-container .top .notifica .notifica-text p:first-child{
    font-weight: bold;
    font-size: 13px;
    margin: 0;
}

.my-container .top .notifica .notifica-text a{
    color: gray;
    margin: 0;
}

.my-container .top .search{
    padding: 5px;
}

.my-container .my-row .col-sx .bottom{
    overflow-y: auto;
    margin-top: 160px;
}

.my-container .bottom .chats .user-chat{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid black;
    cursor: pointer;
}

.my-container .bottom .chats .user-chat .user-chat-sx{
    display: flex;
    width: 60%;
}

.my-container .bottom .chats .user-chat .user-chat-sx .user-chat-info{
    margin-left: 10px
}

.my-container .bottom .chats .user-chat .user-chat-sx p:first-child{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.my-container .bottom .chats .user-chat .user-chat-sx p:last-child{
    font-size: 10px;
    color: grey;
    margin: 0;
}




/* COLONNA DX */

.my-container .col-dx .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #EAEAEA;
}

.my-container .col-dx .top-alternative{
    height: 60px;
    padding: 10px;
    background-color: #EAEAEA;
}

.my-container .col-dx .top .top-sx{
    display: flex;
}

.my-container .col-dx .top .top-sx .user-chat-info{
    margin-left: 10px
}

.my-container .col-dx .top .top-sx p:first-child{
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.my-container .col-dx .top .top-sx p:last-child{
    font-size: 10px;
    color: grey;
    margin: 0;
}


.my-container .col-dx .top .top-dx i{
    margin: 0 10px;
    color: gray;
}

.my-container .col-dx .bottom{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('../img/mine.jpg');
}



.my-container .col-dx .bottom .bottom-nav{
    background-color: #EAEAEA;
    height: 60px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-container .col-dx .bottom .bottom-nav i{
    color: black;
}

.my-container .col-dx .bottom .bottom-nav input{
    width: 85%;
    height: 30px;
    padding: 0 10px;
    border-radius: 10px;
}

.clicked{
    background-color: #EAEAEA;
}

.none{
    display: none;
}

/* MESSAGGI */
.my-container .col-dx .bottom .chat{
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.my-container .col-dx .bottom .chat .message{
    position: relative;
    width: 200px;
    min-height: fit-content;
    margin: 10px 40px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.my-container .col-dx .bottom .chat .message .hour-message{
    font-size: 8px;
    text-align: end;
    margin: 0;
    padding: 5px 0;
}

.sent{
    background-color: lightgreen;
    align-self: end;
}

.received{
    background-color: white;
}

.remove-div{
    width: 100%;
    min-height: fit-content;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    top: 60%;
    left: 0;
    z-index: 1;
    background-color: lightgrey;
}


